<div class="container">
  <div class="text-center">
    <h1>Edit Task</h1>
    <ul class="list-unstyled edit-list">
      <%= form_for @task do |f| %>
        <li><%= f.label :title %>
        <%= f.text_field :title %></li>
        <li><%= f.label :details %>
        <%= f.text_area :details %></li>
        <li><%= f.label :completed %>
        <%= f.check_box :completed %></li>
        <%= f.submit 'Edit Task', class: "btn btn-primary" %>
      <% end  %>
    </ul>
    <%= link_to 'Back to list', tasks_path %>
  </div>
</div>
